In [2]:
from massive import RESTClient
from dotenv import load_dotenv
import os
import pandas as pd

In [3]:
load_dotenv()
api_key = os.getenv("MASSIVE_API_KEY")

In [4]:
client = RESTClient(api_key, pagination=False)

In [5]:
ticker = "AAPL"
aggs = []
for a in client.list_aggs(
    ticker=ticker,
    multiplier=1,
    timespan="day",
    from_="2025-01-01",
    to="2025-11-21",
    limit=5,
):
    aggs.append(a)

In [6]:
print(aggs)

[Agg(open=248.93, high=249.1, low=241.8201, close=243.85, volume=55740731.0, vwap=244.3303, timestamp=1735794000000, transactions=685448, otc=None), Agg(open=243.36, high=244.18, low=241.89, close=243.36, volume=40244114.0, vwap=243.0805, timestamp=1735880400000, transactions=493786, otc=None), Agg(open=244.31, high=247.33, low=243.2, close=245, volume=45045571.0, vwap=245.1726, timestamp=1736139600000, transactions=493920, otc=None), Agg(open=242.98, high=245.55, low=241.35, close=242.21, volume=40855960.0, vwap=242.9459, timestamp=1736226000000, transactions=462887, otc=None), Agg(open=241.92, high=243.7123, low=240.05, close=242.7, volume=37628940.0, vwap=242.2995, timestamp=1736312400000, transactions=406916, otc=None)]

In [7]:
df = pd.DataFrame([a.__dict__ for a in aggs])
df["timestamp"] = pd.to_datetime(df["timestamp"], unit="ms")

In [8]:
df.head()

,open,high,low,close,volume,vwap,timestamp,transactions,otc
0,248.93,249.1000,241.8201,243.85,55740731.0,244.3303,2025-01-02 05:00:00,685448,None
1,243.36,244.1800,241.8900,243.36,40244114.0,243.0805,2025-01-03 05:00:00,493786,None
2,244.31,247.3300,243.2000,245.00,45045571.0,245.1726,2025-01-06 05:00:00,493920,None
3,242.98,245.5500,241.3500,242.21,40855960.0,242.9459,2025-01-07 05:00:00,462887,None
4,241.92,243.7123,240.0500,242.70,37628940.0,242.2995,2025-01-08 05:00:00,406916,None

In [9]:
tickers = []
for t in client.list_tickers(
	market="stocks",
	active="true",
	order="asc",
	sort="ticker",
	):
    tickers.append(t)

In [10]:
print(tickers)

[Ticker(active=True, cik='0001090872', composite_figi='BBG000C2V3D6', currency_name='usd', currency_symbol=None, base_currency_symbol=None, base_currency_name=None, delisted_utc=None, last_updated_utc='2025-11-24T07:05:34.767530393Z', locale='us', market='stocks', name='Agilent Technologies Inc.', primary_exchange='XNYS', share_class_figi='BBG001SCTQY4', ticker='A', type='CS', source_feed=None), Ticker(active=True, cik='0001675149', composite_figi='BBG00B3T3HD3', currency_name='usd', currency_symbol=None, base_currency_symbol=None, base_currency_name=None, delisted_utc=None, last_updated_utc='2025-11-24T07:05:34.767531294Z', locale='us', market='stocks', name='Alcoa Corporation', primary_exchange='XNYS', share_class_figi='BBG00B3T3HF1', ticker='AA', type='CS', source_feed=None), Ticker(active=True, cik='0001776878', composite_figi='BBG01B0JRCS6', currency_name='usd', currency_symbol=None, base_currency_symbol=None, base_currency_name=None, delisted_utc=None, last_updated_utc='2025-11-24T07:05:34.767531715Z', locale='us', market='stocks', name='Alternative Access First Priority CLO Bond ETF', primary_exchange='ARCX', share_class_figi='BBG01B0JRCT5', ticker='AAA', type='ETF', source_feed=None), Ticker(active=True, cik=None, composite_figi='BBG01W275XX6', currency_name='usd', currency_symbol=None, base_currency_symbol=None, base_currency_name=None, delisted_utc=None, last_updated_utc='2025-11-24T07:05:34.767531845Z', locale='us', market='stocks', name='Amplius Aggressive Asset Allocation ETF', primary_exchange='BATS', share_class_figi='BBG01W275ZB5', ticker='AAAA', type='ETF', source_feed=None), Ticker(active=True, cik='0001708646', composite_figi='BBG00LPXX872', currency_name='usd', currency_symbol=None, base_currency_symbol=None, base_currency_name=None, delisted_utc=None, last_updated_utc='2025-11-24T07:05:34.767532096Z', locale='us', market='stocks', name='Goldman Sachs Physical Gold ETF Shares', primary_exchange='BATS', share_class_figi='BBG00LPXX8Z1', ticker='AAAU', type='ETF', source_feed=None), Ticker(active=True, cik='0002034334', composite_figi=None, currency_name='usd', currency_symbol=None, base_currency_symbol=None, base_currency_name=None, delisted_utc=None, last_updated_utc='2025-11-24T07:05:34.767532416Z', locale='us', market='stocks', name='Artius II Acquisition Inc. Class A Ordinary Shares', primary_exchange='XNAS', share_class_figi=None, ticker='AACB', type='CS', source_feed=None), Ticker(active=True, cik='0002034334', composite_figi=None, currency_name='usd', currency_symbol=None, base_currency_symbol=None, base_currency_name=None, delisted_utc=None, last_updated_utc='2025-11-24T07:05:34.767532537Z', locale='us', market='stocks', name='Artius II Acquisition Inc. Rights', primary_exchange='XNAS', share_class_figi=None, ticker='AACBR', type='RIGHT', source_feed=None), Ticker(active=True, cik='0002034334', composite_figi=None, currency_name='usd', currency_symbol=None, base_currency_symbol=None, base_currency_name=None, delisted_utc=None, last_updated_utc='2025-11-24T07:05:34.767538308Z', locale='us', market='stocks', name='Artius II Acquisition Inc. Units', primary_exchange='XNAS', share_class_figi=None, ticker='AACBU', type='UNIT', source_feed=None), Ticker(active=True, cik='0001420529', composite_figi='BBG000V2S3P6', currency_name='usd', currency_symbol=None, base_currency_symbol=None, base_currency_name=None, delisted_utc=None, last_updated_utc='2025-11-24T07:05:34.767538578Z', locale='us', market='stocks', name='ATA Creativity Global American Depositary Shares', primary_exchange='XNAS', share_class_figi='BBG001T125S9', ticker='AACG', type='ADRC', source_feed=None), Ticker(active=True, cik='0001408970', composite_figi='BBG000BDYRW6', currency_name='usd', currency_symbol=None, base_currency_symbol=None, base_currency_name=None, delisted_utc=None, last_updated_utc='2025-11-24T07:05:34.767538829Z', locale='us', market='stocks', name='AdvisorShares Dorsey Wright ADR ETF', primary_exchange='XNAS', share_class_figi='BBG001T9B1Y4', ticker='AADR', type='ETF', source_feed=None)]

In [12]:
df = pd.DataFrame([a.__dict__ for a in tickers])
df.head()

,ticker,name,market,locale,primary_exchange,type,active,currency_name,cik,composite_figi,share_class_figi,last_updated_utc
0,A,Agilent Technologies Inc.,stocks,us,XNYS,CS,True,usd,0001090872,BBG000C2V3D6,BBG001SCTQY4,2025-11-24T07:05:34.767530393Z
1,AA,Alcoa Corporation,stocks,us,XNYS,CS,True,usd,0001675149,BBG00B3T3HD3,BBG00B3T3HF1,2025-11-24T07:05:34.767531294Z
2,AAA,Alternative Access First Priority CLO Bond ETF,stocks,us,ARCX,ETF,True,usd,0001776878,BBG01B0JRCS6,BBG01B0JRCT5,2025-11-24T07:05:34.767531715Z
3,AAAA,Amplius Aggressive Asset Allocation ETF,stocks,us,BATS,ETF,True,usd,NaN,BBG01W275XX6,BBG01W275ZB5,2025-11-24T07:05:34.767531845Z
4,AAAU,Goldman Sachs Physical Gold ETF Shares,stocks,us,BATS,ETF,True,usd,0001708646,BBG00LPXX872,BBG00LPXX8Z1,2025-11-24T07:05:34.767532096Z

In [13]:
df.shape

(10, 12)

In [ ]:
del client